.modalButton {
  padding: 15px;
  background-color: blueviolet;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  width: 100%;

}

.wrapper {
  width: 50%;
}
@media (max-width: 1000px) {
  .mainWrapper {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    width: 80%;
  }

  .mat-mdc-table {
    max-width: 400px;
    overflow-x: scroll;
  }
}